<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= title %></title>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no' />
<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
<% if(typeof styles != 'undefined'){ %>
    <% for(let style of styles){ %>
    <link rel="stylesheet" href="<%= style %>"/>
    <% } %>
<% } %>
<link rel="stylesheet" href="/css/animate.min.css">
<link rel="stylesheet" href="/css/public.css">